{% extends 'base.html' %}

{% load static %}

{% block content %}     


<div class="event_details">
    <div class="title">
        <div class="subtitle_section">
            <h3>{{event.name}}</h3>
            {% if my_part == True or event.open_editing == True %}
                {% if admin == True or event.open_editing == True %}
                    <div class="edit_img"><a href="/edit_event/{{event.pk}}" > <img src="{%static 'members/img/edit.png' %}" height="29" width="29"> </a></div> 
                {% endif %}
            {% endif %}
        </div>
    </div>   <br>
    <div>{{event.description}}</div><br>
    <div><b>At:</b> {{event.date}}</div><br>
    <div><b>Starts:</b> {{event.time}}</div><br>
    <div><b>Ends:</b> {{event.end_time}}</div><br>

    <div class="events_details">
        <div class="subtitle">Host:</div>
            {% if member_calendar %}
                <div> <a href="/member/{{event.calendar.member.pk}}">{{event.calendar.member.name}}</a></div>
            {% elif user_calendar %}
                <div> <a href="/profile/{{event.calendar.user.pk}}">{{event.calendar.user.first_name}} {{event.calendar.user.last_name}}</a></div>
            {% else %}
                <div> Public </div>
            {% endif %}
    </div>

    <div class="events_details">
        <div class="subtitle">Calendar:</div>
        <div><a href="/calendar/{{event.calendar.pk}}"> {{event.calendar.name}} </a></div>
    </div>

    <div class="events_details">
        <div class="subtitle">Invitations:</div>
        {% for invitation in invitations %}
            <b>{{invitation.member}}</b> - 
            {% if invitation.accept == True %}
            Accepted
            {% endif %}
            {% if invitation.decline == True %} 
            Declined
            {% endif %}
            {% if invitation.accept == False and invitation.decline == False %}
            Pending
            {% endif %}
        {% endfor %}
    </div>

    <div class="events_details">
        <div class="subtitle">Participants:</div>
        {% for participant in participants %}
            
            <div>
                <a href="/profile/{{participant.member.pk}}"><b>{{participant.member}}</b></a> 
                {% if my_part == True %}
                    {% if participant.is_administrator == False and admin == True %}
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="button-row">
        {% if my_part == True or event.is_open %}
            {% if admin == True or event.is_open %}
                <a href="/invite/{{event.pk}}"><button class="btn btn-primary">Invite Member</button></a>
                {% if event.is_open and user.is_authenticated and my_part == False %}
                <a href="/join/{{user.pk}}"><button class="btn btn-primary">Join Event</button></a>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>

</div>

{% endblock %}

{% block head %}
    {{ block.super }}

    <title>
        Wayfinders {% block title %}{% endblock %}
    </title>

    {# favicon #}
    <link href="#" rel="icon" type="image/x-icon" />

    <style>
        .event_details {
            padding: 25px;
            display: flex;
            flex-direction: column;
        }

        .event_details > div {
            width: 100%;
            padding: 10px;
        }

        .title {
            display: flex;
            flex-direction: row;
        }

        .title > div {
            margin-right: 10px;
        }
        

    </style>

{% endblock %}