{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="body-content">
    <h1>{{thread.title}}</h1>
    <h5>{{thread.subtitle}}</h5>


    <div class="discussion">
        {% for post in posts %}
            
            <div class="post">
                <div class="post_body"> {{post.body}}</div>
                <div class="post_footer">
                    <div class="post_created_by">{{post.created_by}}</div>
                    <div> {{post.created_at}} </div> 
                    
                    <a href="/like"><div class="right-side"><img src="{%static 'members/img/thumbs_up.png' %}" width="25" height="25"></div></a>
                    <a href="/flag"><div class="right-side"><img src="{%static 'members/img/flag.png' %}" width="25" height="25"></div></a>
                    
                </div>
            </div>
            

        {% endfor %}
    </div>

    <div class="section">
        <div>Add a Post</div>
        <div class="button_container">
            <a href="/forum/post/{{thread.pk}}"><button type="button" class="btn btn-primary post-button">Create Post</button></a>
        </div>
    </div>
</div>

{% endblock %}

{% block head %}
    {{ block.super }}
    <style>

        .discussion {
            margin-top: 25px;
        }
        
        .post {
            background: #e7e7e7;
            padding: 15px;
            text-decoration: none;
            color: #121212;
            box-shadow: -1px 2px 3px #888888;
            margin-bottom: 15px;
        }

        .post-button {
            margin-left: auto;
            margin-right: auto;
        }

        .post_footer {
            display: flex;
            align-items: flex-end;
            font-size: 10pt;
            margin-top: 15px;
        }

        .post_created_by {
            margin-right: 15px;
        }

        .section {
            width:100%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            margin-top: 25px;
        }

        .button_container {
            display: flex;
            align-items: center;
            width: 100%;
        }

        .create_post_text {
            width: 100%;
            min-height: 200px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .right {
            margin-left: 30px;
            display: block;
            float: right;
        }

    </style>
    <script>
        $(document).ready( function() {
            $("#search-button").click( function(event) {
                var str = $('#search_query').val();
                var search_url = "http://127.0.0.1:8000/search/" + str;
                window.location.replace(search_url);
            });
        });
    </script>

{% endblock %}