{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="section">
    <div class="title_wrapper">
        <div class="title_bar">
            <h3>{{company.name}}</h3>
        </div>
        {% if company_admin == True %}
        <div class="inline"><a href="/edit_group/{{company.pk}}" > <img src="{%static 'members/img/edit.png' %}" height="30" width="30"> </a></div>
        {% endif %}
    </div>
   
    <div class="profile_picture">
        {% if company.main_image.url != None %}
        <img src="{{company.main_image.url}}" width="400" height="650" style="width: 400px; height: 650px; object-fit: contain; object-position: left top; margin-top: 5px;">
        {% endif %}
    </div>
    <div class="profile">
        <div class="profile_section">
            <div class="subtitle">About Us:</div>
            <div class="bio">{{company.description}}</div>
        </div>
        {% if company_member %}
        <div class="profile_section">
            <a href="/leave_group/{{member_company.pk}}"><button class="btn btn-primary">Leave Group</button></a>
        </div>
        {% endif %}
    </div>
</div>


{% endblock %}

{% block head %}
    {{ block.super }}

    <title>
        Wayfinders {% block title %}{% endblock %}
    </title>

    {# favicon #}
    <link href="#" rel="icon" type="image/x-icon" />

    <style>

        .subtitle {
            color:  #398677;
            font-weight: bold;
        }

        .title_wrapper {
            width: 100%;
        }

        .title_bar {
            background-color:  #398677;
            color: #fff;
            padding: 10px;
            width: auto;
            display: inline-block;
        }

        .profile_picture {
            float: left;
            width: 500px;
            height: 650px;
        }

        .profile_section {
            margin-bottom: 25px;
            display: block;
            overflow: hidden;
        }

        .inline {
            display:inline;
        }

        .bio {
            width: 50%;
        }

    </style>
{% endblock %}