{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="section">
    <div class="title_wrapper">
        <div class="title_bar">
            <h3>{{profile.first_name}} {{profile.last_name}} - {{profile.job_title}}</h3>
        </div>
        {% if my_profile == True %}
        <div class="inline"><a href="/edit_profile/{{profile.pk}}" > <img src="{%static 'members/img/edit.png' %}" height="30" width="30"> </a></div>
        <div class="inline"><a href="/calendar/{{calendar.pk}}"><img src="{%static 'members/img/calendar.png' %}" height="30" width="30"></a></div>
        {% endif %}
    </div>
   
    <div class="profile_picture">
        <img src="/static/members/profile_pic/MC-0036.JPG" width="400" height="650">
    </div>
    <div class="profile">
        <div class="profile_section">
            <div class="subtitle">Location:</div>
            <div>{{profile.address}}</div>
            <div>{{profile.city}}, {{profile.province}}, {{profile.country}}</div>
            <div>{{profile.postal_code}}</div>
        </div>
        
        <div class="profile_section">
            <div class="subtitle">Website:</div>
            <a href="{{profile.website}}"><div>{{profile.website}}</div></a>
        </div>
        <div class="profile_section">
            <div class="subtitle">Contact:</div>
            <div>{{profile.business_phone}}</div>
            <div>{{profile.home_phone}}</div>
            <div>{{profile.cell_phone}}</div>
            <div>{{profile.email}}</div>
        </div>
        <div class="profile_section">
            <div class="subtitle">Company:</div>
            {% for company in member_companies %}
            <a href="/company/{{company.pk}}"><div>{{company.company}}</div></a>
            {% endfor %}
        </div>
        <div class="profile_section">
            <div class="subtitle">Skills:</div>
            {% for skill in member_skills %}
            <div>{{skill.skill}}</div>
            {% endfor %}
        </div>
        <div class="profile_section">
            <div class="subtitle">Member Since: {{membership_since}}</div>
        </div>
    </div>
</div>


{% endblock %}

{% block head %}
    {{ block.super }}

    <title>
        Wayfinders {% block title %}{% endblock %}
    </title>

    {# favicon #}
    <link href="#" rel="icon" type="image/x-icon" />

    <style>

        .section {
            padding-top: 25px;
            padding-bottom: 25px;
            padding-left: 10%;
            padding-right: 10%;
            overflow: hidden;
        }

        .subtitle {
            color:  #398677;
            font-weight: bold;
        }

        .title_wrapper {
            width: 100%;
        }

        .title_bar {
            background-color:  #398677;
            color: #fff;
            padding: 10px;
            width: auto;
            display: inline-block;
        }

        .profile_picture {
            float: left;
            width: 500px;
            height: 650px;
        }

        .profile_section {
            margin-bottom: 25px;
        }

        .inline {
            display:inline;
        }

    </style>
{% endblock %}