{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="section">
    <h1>Skill</h1>

    <div class="profile_section">
        <div class="subtitle">{{skill.name}}</div>
        <div>{{skill.description}}</div>
    </div>
</div>

{% endblock %}

{% block head %}
    {{ block.super }}
    <script>

    </script>

<style>

    .subtitle {
        color:  #398677;
        font-weight: bold;
        margin-right: 5px;
    }

    .profile_section {
        margin-bottom: 25px;
    }

</style>

{% endblock %}